{% extends 'admin_area/base.html' %}
{% block define %}
    {% if permission %}
    {% else %}
       <div class="col-md-12 col-lg-12" style="padding-right: 10%;padding-left: 10%">
        <h5 style="margin-left: 35%;color: red">您没有操作权限</h5>
      </div>
    {% endif %}
<script>
        $('#page_title').text('维修基金管理');
        $('#coupon_manage').addClass('active');
        $('#message_manage').addClass('active')
</script>
    <div class="row col-md-12 col-lg-12" style="margin-top: 5%;">
        <div class="col-md-4 col-lg-4" style="margin-left: -1%">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h4>赠送</h4>
                        <p style="margin-top: 5%">向指定的用户赠送一定数额的维修基金</p>
                        <a href="give_coupon" class="btn btn-primary btn-hg" style="margin-top: 10%" role="button">操作</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h4>查询</h4>
                        <p style="margin-top: 5%">查看维修基金的发放情况以及统计的部分信息</p>
                        <a href="check_coupon" class="btn btn-primary btn-hg" style="margin-top: 10%;" role="button">操作</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4" style="">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h4>设置</h4>
                        <p style="margin-top: 5%">设置在线支付、注册赠送、邀请赠送的维修基金金额</p>
                        <a href="set_coupon" class="btn btn-primary btn-hg" style="margin-top: 10%;" role="button">操作</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}