{% extends 'admin_area/base.html' %}
{% block define %}
    {% if permission %}
<script>
        $('#page_title').text('维修基金设置');
        $('#coupon_manage').addClass('active');
        $('#message_manage').addClass('active');
       {% if set_success %}
           $(document).ready(function(){
               alert("操作成功");
               window.location.href = "coupon_manage"
           });
       {% endif %}
</script>
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-5 col-md-5 text-right">
            <h6>在线支付赠送（最高）:</h6>
            <h6 style="margin-top: 30px">在线支付赠送（最低）:</h6>
            <h6 style="margin-top: 30px">注册赠送:</h6>
            <h6 style="margin-top: 30px">邀请赠送:</h6>
            <h6 style="margin-top: 30px">是否开启在线支付赠送:</h6>
        </div>
       <div class="col-lg-5 col-md-5" style="padding-top: 0.5%;padding-left: 0">
          <form action="set_coupon" method="post" id="p_mes" enctype="multipart/form-data">
              {% csrf_token %}
            <input type="text" class="form-control" id="online_money_high" name='online_money_high'
                   placeholder="请输入赠送金额" style="width: 150px;margin-top: 5px"
                   {% if item.online_money_high %}
                   value="{{ item.online_money_high }}"
                   {% endif %}
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="online_money_low" name='online_money_low'
                   placeholder="请输入赠送金额" style="width: 150px;margin-top: 15px"
                   {% if item.online_money_low %}
                   value="{{ item.online_money_low }}"
                   {% endif %}
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="reg_money" name='reg_money'
                   placeholder="请输入赠送金额" style="width: 150px;margin-top: 15px"
                   {% if item.reg_money %}
                   value="{{ item.reg_money }}"
                   {% endif %}
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="invite_money" name='invite_money'
                   placeholder="请输入赠送金额" style="width: 150px;margin-top: 15px"
                   {% if item.invite_money %}
                   value="{{ item.invite_money }}"
                   {% endif %}
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <label style="margin-top: 25px" class="checkbox" for="checkbox1">
                  <input type="checkbox" name="online_active" value={{ item.online_active }} id="checkbox1"
                         {% if item.online_active %}
                         checked="checked"
                         {% endif %}
                         data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                      <span class="icon-unchecked"></span>
                      <span class="icon-checked"></span>
                  </span>
            </label>
            <script>
                $('input').click(function(){
                    if($(this).val() == 'True'){
                        $(this).val('False')
                    }
                    else{
                        $(this).val('True')
                    }
                })
            </script>
          </form>
       </div>

    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg" style="margin-left: 36%">提交</button>
        <a href="coupon_manage" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        $('#submit').click(function(){
            $('#p_mes').submit();
        })
    </script>
 </div>
</div>
    {% else %}
       <div class="col-md-12 col-lg-12" style="padding-right: 10%;padding-left: 10%">
        <h5 style="margin-left: 35%;color: red">您没有操作权限</h5>
      </div>
    {% endif %}
{% endblock %}