{% extends 'admin_all/base.html' %}
{% block define %}
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-4 col-md-4 text-right">
            <h6>原始密码:</h6>
            <h6 style="margin-top: 30px;">新密码:</h6>
            <h6 style="margin-top: 30px;">密码确认:</h6>
        </div>
       <div class="col-lg-6 col-md-6" style="padding-top: 0.5%;padding-left: 0">
          <form action="change_password" method="post" id="p_mes" enctype="multipart/form-data">
              {% csrf_token %}
            <input type="text" class="form-control" id="origin_password" name='origin_password'
                   placeholder="请输入原始密码" style="width: 300px;margin-top: 2px"/>
            <input type="text" class="form-control" id="new_password" name='new_password'
                   placeholder="请输入新密码" style="width: 300px;margin-top: 15px"/>
            <input type="text" class="form-control" id="password_again" name='password_again'
                   placeholder="请再次输入新密码" style="width: 300px;margin-top: 15px"/>
          </form>
       </div>

    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg" style="margin-left: 36%">提交</button>
        <a href="coupon_manage" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        $('#submit').click(function(){
            if($('#orogin_password').val()&&$('#new_password').val()&&$('#password_again').val()){
                if($('#new_password').val() != $('#password_again').val()){
                    alert("两次密码输入不一致");
                }
                $('#p_mes').submit();
            }
            else{
                alert("请完善信息！！")
            }
        })
    </script>
 </div>
</div>
<script>
  $('#page_title').text("个人信息管理");
  $('#change_password').addClass('active');
  {% if success == 'T' %}
      $(document).ready(function(){
          alert("修改成功");
      });
  {% elif success == 'F' %}
      $(document).ready(function(){
          alert("密码错误");
      });
  {% endif %}
</script>

{% endblock %}