{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
        $('#page_title').text('地区信息修改')
    </script>
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-4 col-md-4 text-right">
            <h6>地区名称:</h6>
            <h6 style="margin-top: 9%">联系电话:</h6>
            <h6 style="margin-top: 9%">地址:</h6>
        </div>
       <div class="col-lg-6 col-md-6" style="padding-top: 0.5%;padding-left: 0">
            <input type="text" class="form-control" id="area_name" name='area_name'
                   placeholder="请输入地区名称" style="width: 300px;margin-top: 0.5%" value="{{ item.area_name }}">
            <input type="text" class="form-control" id="area_tel" name='area_tel'
                   placeholder="请输入联系电话" style="width: 300px;margin-top: 2.5%" value="{{ item.area_tel }}"
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <textarea class="form-control" id="address" name='address'
                   placeholder="请输入地址" style="width: 300px;margin-top: 2.5%">{{ item.area_address }}</textarea>
       </div>
    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg" style="margin-left: 36%">提交</button>
        <a href="manage_area" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        $('#submit').click(function(){
            if($('#area_name').val() && $('#area_tel').val() && $('#address').val()){
                {% if not item %}
                var message = {'area_name': $('#area_name').val(),
                               'area_tel': $('#area_tel').val(),
                               'address': $('#address').val(),
                               'csrfmiddlewaretoken': getCookie('csrftoken')};
                {% else %}
                 var message = {'area_name': $('#area_name').val(),
                               'area_tel': $('#area_tel').val(),
                               'address': $('#address').val(),
                               'area_id': {{ item.id }},
                               'csrfmiddlewaretoken': getCookie('csrftoken')};
                {% endif %}
                $.ajax({
                    type: 'POST',
                    url: 'edit_area',
                    data: message,
                    success: function (data) {
                        if (data == 'T') {
                            alert("提交成功");
                            window.location.href = "manage_area"
                        }
                        else {
                            alert("提交失败！")
                        }
                    },
                    dataType: 'json'
                });
            }
            else{
                alert("信息填写有误！！")
            }
        })
    </script>
 </div>
</div>
{% endblock %}
