{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
        $(document).ready(function(){
            $('#page_title').text('查看预约');
            $('#find_appointment').addClass('active');
        })
    </script>
     <script type="text/javascript" src="/js/mine.js" charset="UTF-8"></script>
    <div class="col-md-12 col-lg-12" style="margin-top: 3%">
      <div class="col-md-2 col-lg-2" style="float: right">
          <button class="btn btn-success">查询</button>
      </div>
      <div class="col-md-2 col-lg-2 input-group has-success" style="float: right">
         <span class="input-group-addon">截止日期：</span>
         <input type="text" class="form-control"style="margin-right: 10%" onclick="fPopCalendar(event,this,this)" onfocus="this.select()" readonly="readonly" />
      </div>
      <div class="col-md-2 col-lg-2 input-group has-success" style="float: right;margin-right: 1%">
         <span class="input-group-addon">起始日期：</span>
         <input type="text" class="form-control"style="margin-right: 10%" onclick="fPopCalendar(event,this,this)" onfocus="this.select()" readonly="readonly" />
      </div>
      <div class="col-md-2 col-lg-2 input-group has-success" style="padding-left: 0;float: right;margin-right: 1%">
          <span class="input-group-addon">地区</span>
          <select class="form-control select select-primary select-block mbl" style="border-bottom-right-radius: 0">
                  <option value="0">成都</option>
                  <option value="1">乐山</option>
                  <option value="2">遂宁</option>
          </select>
          <script>
              $("select").select2({dropdownCssClass: 'dropdown-inverse'});
          </script>
      </div>
      <div class="col-md-2 col-lg-2 input-group has-success" style="padding-left: 0;float: right;margin-right: 1%;">
          <span class="input-group-addon">预约类型</span>
          <select class="form-control select select-primary select-block mbl">
                  <option value="0">所有预约</option>
                  <option value="1">未受理预约</option>
                  <option value="2">已接受预约</option>
                  <option value="3">已完成预约</option>
          </select>
          <script>
              $("select").select2({dropdownCssClass: 'dropdown-inverse'});
          </script>
      </div>
    </div>
    <div class="col-md-10 col-lg-10" style="float: right;margin-top: 2%;margin-right: 10%;margin-bottom: 2%">
      <div class="col-md-12 col-lg-12">
        <div class="col-md-2 col-lg-2"  style="float: right;margin-bottom: 2%">
            <button class="btn btn-primary">数据导出</button>
      </div>
    </div>
    {% for i in items %}
   <div class="panel panel-finish" style="margin-top: 5%">
       <div class="panel-heading">
           预约号：10000001
           <span style="margin-left: 5%">时间：2014-11-28 13:00</span>
           <span style="margin-left: 5%">地址：电子科技大学清水河校区本科18栋616寝室</span>
       </div>
       <div class="panel-body">
           <div class="col-md-12 col-lg-12">姓名：张先生</div>
           <div class="col-md-12 col-lg-12">联系方式：12345678901</div>
           <div class="col-md-6 col-lg-6">报修项目：水 水管坏了
           </div>
           <div class="col-md-6 col-lg-6">
               <button class="btn btn-large btn-success" id="find_detail{{ i }}" style="float: right;margin-right: 20%">
                 查看详情
               </button>
               <div class="modal fade bs-example-modal-lg" style="padding-top: 10%" id="modal{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-lg">
                       <div class="modal-content">
                             <div class="row">
                                 <div class="col-md-4 col-lg-4">
                                     <a href="/img/icons/png/Toilet-Paper.png" class="thumbnail">
                                         <img src="/img/icons/png/Toilet-Paper.png">
                                     </a>
                                 </div>
                             </div>
                       </div>
                   </div>
               </div>
           </div>
           <script>
               $('#find_detail{{ i }}').click(function(){
                   $('#modal{{ i }}').modal('toggle')
               })
           </script>
       </div>
   </div>
{% endfor %}
  <div class="text-right">
      <div class="pagination pagination-success">
          <a href="#" class="btn btn-info previous">上一页</a>
          <ul>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
          </ul>
          <a href="#" class="btn btn-info next">下一页</a>
      </div>
  </div>
</div>
{% endblock %}