{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
       $(document).ready(function(){
           $('#page_title').text('管理地区信息');
           $('#manage_area').addClass('active');
       })
    </script>
    <div class="col-md-12 col-lg-12" style="padding-left: 10%;padding-right: 10%;padding-top: 5%">
       <table class="table">
           <thead>
             <tr>
                 <h6 style="padding-bottom: 1%">
                 地区列表
                 </h6>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #1abc9c; color: #ffffff">
                  <th>地区</th>
                  <th>地区编码</th>
                  <th>联系电话</th>
                  <th>地址</th>
                  <th></th>
              </tr>
              {% for area in areas %}
              <tr>
                  <td>{{ area.area_name }}</td>
                  <td>{{ area.city_num }}</td>
                  <td>{{ area.area_tel }}</td>
                  <td>{{ area.area_address }}</td>
                  <td style="max-width: 60px;padding-right:0">
                     <a role="button" href="edit_area?area_id={{ area.id }}" class="btn btn-sm btn-default">修改</a>
                     <button class="btn btn-sm btn-danger" onclick="delete_area('{{ area.id }}')">删除</button>
                  </td>
              </tr>
              {% endfor %}
           </tbody>
           <script>
               function delete_area(area_id){
                   var r = confirm("确定删除该地区吗？");
                   if(r){
                       window.location.href = "delete_area?area_id="+area_id;
                   }
               }
           </script>
       </table>
       <div class="text-right">
         <a role="button" href="edit_area" class="btn btn-lg btn-success" style="margin-bottom:2%;width: 250px;font-size: 20px;">添加</a>
       </div>
    </div>
{% endblock %}