{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
       $(document).ready(function(){
           $('#manage_apply').addClass('active');
           $('#page_title').text('审核申请')
       })
    </script>
    <div class="col-md-12 col-lg-12" style="padding-left: 5%;padding-right: 5%;padding-top: 5%">
       <table class="table">
           <thead>
             <tr>
                 <h6 style="padding-bottom: 1%">
                 申请列表
                     <button class="btn btn-default" id="reject" style="float: right;margin-left: 2%;margin-right: 1%">拒绝申请</button>
                     <button class="btn btn-primary" id="pass" style="float: right;">通过审核</button>

                 </h6>
                 <script>
                       $('#pass').click(function(){
                           var s = 1;
                           if( s == 2 {% for item in items %}|| $('#checkbox{{item.type}}{{ item.body.id }}').val() == '1'{% endfor %}){
                               var r = confirm("确定通过所选申请吗？");
                               if(r == true){
                                    var apply_num = "";
                                   {% for item in items %}
                                       if($('#checkbox{{item.type}}{{ item.body.id }}').val() == '1'){
                                           apply_num = apply_num + ','+ '{{ item.type }}{{ item.body.id }}' + ','
                                       }
                                   {% endfor %}
                                   var message = {'apply_num': apply_num,
                                                  'csrfmiddlewaretoken': getCookie('csrftoken')};
                                        $.ajax({
                                            type: 'POST',
                                            url: 'pass_application',
                                            data: message,
                                            success: function (data) {
                                                if (data == 'T') {
                                                    alert("操作成功");
                                                    window.location.href = "manage_apply"
                                                }
                                                else {
                                                    alert("操作失败！")
                                                }
                                            },
                                            dataType: 'json'
                                        });

                               }
                           }
                           else{
                               alert("请选择申请")
                           }
                       })
                       $('#reject').click(function(){
                           var s = 1;
                           if( s == 2 {% for item in items %}|| $('#checkbox{{item.type}}{{ item.body.id }}').val() == '1'{% endfor %}){
                               var r = confirm("确定拒绝所选申请吗？");
                               if(r == true){
                                    var apply_num = "";
                                   {% for item in items %}
                                       if($('#checkbox{{item.type}}{{ item.body.id }}').val() == '1'){
                                           apply_num = apply_num + ','+ '{{ item.type }}{{ item.body.id }}' + ','
                                       }
                                   {% endfor %}
                                   var message = {'apply_num': apply_num,
                                                  'csrfmiddlewaretoken': getCookie('csrftoken')};
                                        $.ajax({
                                            type: 'POST',
                                            url: 'reject_application',
                                            data: message,
                                            success: function (data) {
                                                if (data == 'T') {
                                                    alert("操作成功");
                                                    window.location.href = "manage_apply"
                                                }
                                                else {
                                                    alert("操作失败！")
                                                }
                                            },
                                            dataType: 'json'
                                        });

                               }
                           }
                           else{
                               alert("请选择申请")
                           }
                       })
                 </script>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #3498db; color: #ffffff">
                  <th>申请类型</th>
                  <th>申请信息</th>
                  <th>提交时间</th>
                  <th>姓名</th>
                  <th>电话</th>
                  <th>工号</th>
                  {% if items %}
                  <th style="max-width: 20px">
                        <input type="checkbox" value="0" id="checkbox_all">
                      <script>
                          $('#checkbox_all').click(function(){
                              if($(this).val() == '0'){
                                  $(this).val('1');
                                  {% for item in items %}
                                  $('#checkbox{{item.type}}{{ item.body.id }}').val('1');
                                  document.getElementById('checkbox{{item.type}}{{ item.body.id }}').checked = true;
                                  {% endfor %}
                              }
                              else{
                                  $(this).val('0');
                                  {% for item in items %}
                                  $('#checkbox{{item.type}}{{ item.body.id }}').val('0');
                                  document.getElementById('checkbox{{item.type}}{{ item.body.id }}').checked = false;
                                  {% endfor %}
                              }
                          })
                      </script>
                  </th>
                  {% endif %}
              </tr>
              {% for item in items %}
                  {% if item.type == 'R' %}
              <tr>
                  <td>
                      注册账号
                  </td>
                  <td>
                      注册{{ item.area }}的管理员
                  </td>
                  <td>{{ item.body.log_time | date:"Y-m-d" }}</td>
                  <td>{{ item.body.nick }}</td>
                  <td>{{ item.body.username }}</td>
                  <td>{{ item.body.work_num }}</td>
                  <td style="max-width: 20px">
                     <input type="checkbox" value="0" name='checkbox' id="checkbox{{ item.type }}{{ item.body.id }}">
                  </td>
                  <script>
                     $('#checkbox{{ item.type }}{{ item.body.id }}').click(function(){
                         if($(this).val() == '0'){
                             $(this).val('1');
                         }
                         else{
                             $(this).val('0')
                         }
                     })
                  </script>
              </tr>
                  {% else %}
              <tr>
                  <td>
                      修改地区
                  </td>
                  <td>
                      将'{{ item.body.old_area }}'修改到'{{ item.body.new_area }}'
                  </td>
                  <td>{{ item.body.apply_time | date:"Y-m-d" }}</td>
                  <td>{{ item.body.apply_user.nick }}</td>
                  <td>{{ item.body.apply_user.username }}</td>
                  <td>{{ item.body.apply_user.work_num }}</td>
                  <td style="max-width: 20px">
                     <input type="checkbox" value="0" name='checkbox' id="checkbox{{ item.type }}{{ item.body.id }}">
                  </td>
                  <script>
                     $('#checkbox{{ item.type }}{{ item.body.id }}').click(function(){
                         if($(this).val() == '0'){
                             $(this).val('1');
                         }
                         else{
                             $(this).val('0')
                         }
                     })
                  </script>
              </tr>
                  {% endif %}
              {% endfor %}
           </tbody>
       </table>
    </div>
{% endblock %}