{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
       $('#manage_notice').addClass('active');
       $('#page_title').text('公告管理')
    </script>
    <div class="col-md-12 col-lg-12" style="padding-left: 10%;padding-right: 10%;padding-top: 5%">
       <table class="table">
           <thead>
             <tr>
                 <h6 style="padding-bottom: 1%">
                 公告列表
                     <button id="delete" class="btn btn-default" style="float: right;margin-left: 2%;margin-right: 1%">删除</button>
                     <button type="button" id="put_notice" class="btn btn-primary" style="float: right;margin-right: 1%">新增公告</button>

                     <div class="modal fade bs-example-modal-lg" id="modal_notice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                         <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="padding: 10%">
                                 <h6 class="text-center">发布公告</h6>
                                 <textarea cols="40" rows="10" id="notice_text" style="height: 300px;width: 100%;"></textarea>
                                 <button id="cancel_put" class="btn btn-default" style="float: right;margin-top: 1%">取消</button>
                                 <button id="put" class="btn btn-primary" style="float: right;margin-right: 1%;margin-top: 1%">发布</button>
                            </div>
                             <script>
                                 $('#cancel_put').click(function(){
                                     $('#modal_notice').modal('hide')
                                 });
                                 $('#put').click(function(){
                                     if($('#notice_text').val()){
                                        var message = {'notice': $('#notice_text').val(),
                                                       'csrfmiddlewaretoken': getCookie('csrftoken')};
                                        $.ajax({
                                            type: 'POST',
                                            url: 'put_notice',
                                            data: message,
                                            success: function (data) {
                                                if (data == 'T') {
                                                    alert("发布成功");
                                                    window.location.href = "manage_notice"
                                                }
                                                else {
                                                    alert("发布失败！")
                                                }
                                            },
                                            dataType: 'json'
                                        });
                                     }
                                     else{
                                         alert("请输入公告内容")
                                     }
                                 })
                             </script>
                         </div>
                     </div>
                 </h6>
                 <script>
                     $('#put_notice').click(function(){
                          $('#modal_notice').modal('toggle')
                      })
                 </script>
                 <script>
                       $('#delete').click(function(){
                           var s = 1;
                           if( s == 2 {% for item in items %}|| $('#checkbox{{ item.id }}').val() == '1'{% endfor %}){
                               var r = confirm("确定删除所选择的公告吗？");
                               if(r == true){
                                    var notices = "";
                                   {% for item in items %}
                                       if($('#checkbox{{ item.id }}').val() == '1'){
                                           notices = notices + ','+ '{{ item.id }}' + ','
                                       }
                                   {% endfor %}
                                   var message = {'notice_ids': notices,
                                                  'csrfmiddlewaretoken': getCookie('csrftoken')};
                                        $.ajax({
                                            type: 'POST',
                                            url: 'delete_notices',
                                            data: message,
                                            success: function (data) {
                                                if (data == 'T') {
                                                    alert("删除成功");
                                                    window.location.href = "manage_notice"
                                                }
                                                else {
                                                    alert("删除失败！")
                                                }
                                            },
                                            dataType: 'json'
                                        });

                               }
                           }
                           else{
                               alert("请选择公告")
                           }
                       })
                 </script>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #1abc9c; color: #ffffff">
                  <th style="max-width: 50px;">发布时间</th>
                  <th style="min-width: 260px;max-width: 280px;">内容</th>
                  <th style="max-width: 20px">
                        <input type="checkbox" value="0" id="checkbox_all">
                      <script>
                          $('#checkbox_all').click(function(){
                              if($(this).val() == '0'){
                                  $(this).val('1');
                                  {% for item in items %}
                                      $('#checkbox{{ item.id }}').val('1');
                                      document.getElementById('checkbox{{ item.id }}').checked = true;
                                  {% endfor %}
                              }
                              else{
                                  $(this).val('0');
                                  {% for item in items %}
                                      $('#checkbox{{ item.id }}').val('0');
                                      document.getElementById('checkbox{{ item.id }}').checked = false;
                                  {% endfor %}
                              }
                          })
                      </script>
                  </th>
              </tr>
              {% for item in items %}
              <tr>
                  <td style="max-width: 50px">{{ item.create_time | date:"Y-m-d" }}</td>
                  <td style="min-width:260px;max-width: 280px">{{ item.content }}</td>
                  <td style="max-width: 20px;">
                     <input type="checkbox" value="0" name='checkbox' id="checkbox{{ item.id }}">
                  </td>
                  <script>
                     $('#checkbox{{ item.id }}').click(function(){
                         if($(this).val() == '0'){
                             $(this).val('1');
                         }
                         else{
                             $(this).val('0')
                         }
                     })
                  </script>
              </tr>
              {% endfor %}
           </tbody>
       </table>
    </div>
{% endblock %}