{% extends 'admin_all/base.html' %}
{% block define %}
    <script>
       $(document).ready(function(){
           $('#page_title').text('管理地区管理员');
           $('#manage_admin').addClass('active');
       })
    </script>
    <div class="col-md-12 col-lg-12" style="padding-left: 10%;padding-right: 10%;padding-top: 5%">
       <table class="table">
           <thead>
             <tr>
                 <h6>
                 地区管理员列表
                 </h6>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #1abc9c; color: #ffffff">
                  <th></th>
                  <th>管理地区</th>
                  <th>姓名</th>
                  <th>电话</th>
                  <th>工号</th>
              </tr>
              <tr>
                  <td>
                      <label class="checkbox" for="checkbox1">
                        <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox">
                          <span class="icons">
                              <span class="icon-unchecked"></span>
                              <span class="icon-checked"></span>
                          </span>
                      </label>
                  </td>
                  <td>成都</td>
                  <td>张全蛋</td>
                  <td>12345678901</td>
                  <td>32423423</td>
              </tr>
           </tbody>
           <script>
               $(':checkbox').radiocheck();
           </script>
       </table>
    </div>
{% endblock %}