<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>admin_area</title>
    <title>地区管理系统</title>
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flat-ui.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/detail.js"></script>
</head>
<body style="font-family:microsoft YaHei;">
<audio  controls="controls" id="music" src="/js/567.wav" loop="true" style="display:none;">
        Your browser does not support the audio element.
    </audio>
<ul class="demo-sidebar nav nav-pills nav-stacked col-md-2 col-lg-2" style="border-right:2px solid rgba(255,255,255,0.14);max-width: 193px;">
      <li style="padding-top: 1%;background-color: #2980b9;height: 53px;color: #ffffff;">
          <p style="font-size: 20px;text-align: center">
              后台管理系统
          </p>
      </li>
      <li style="margin-top:2%;color: #16a085">
          <p>
              <span class="glyphicon glyphicon-road" style="margin-right: 3%"></span>
              <span id="n_area"></span>
          </p>
      </li>
      <li id="notice" style="margin-top: 20%">
          <a href="notice">
              <span class="glyphicon glyphicon-bullhorn" style="margin-right: 3%"></span>
              通知公告
              <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
          </a>
      </li>
      <li id="new">
          <a href="operate_new">
              <span class="glyphicon glyphicon-earphone" style="margin-right: 3%"></span>
              未受理订单<span class="badge" id="appoint_new_count" style="margin-left: 10px;"></span>
          </a>
      </li>
      <li id="get">
          <a href="operate_get">
              <span class="glyphicon glyphicon-folder-close" style="margin-right: 3%"></span>
              已接受订单
          </a>
      </li>
      <li id="finish">
          <a href="operate_finish">
              <span class="glyphicon glyphicon-ok" style="margin-right: 3%"></span>
              已完成预约
          </a>
      </li>
      <li id="cancel">
          <a href="operate_cancel">
              <span class="glyphicon glyphicon-trash" style="margin-right: 3%"></span>
              取消的订单
          </a>
      </li>
      <li id="find_appointment">
          <a href="find_appointment">
              <span class="glyphicon glyphicon-search" style="margin-right: 3%"></span>
              查询订单
          </a>
      </li>
      <li id="message_manage">
          <a>
              <span class="glyphicon glyphicon-th-list" style="margin-right: 3%"></span>
              <span>信息管理</span>
              <span id="menu-down" class="glyphicon glyphicon-chevron-right" style="margin-left: 10%"></span>
          </a>
          <ul class="demo-sidebar nav nav-pills nav-stacked hide" id="programs" style="height: 350px;line-height: 0.9;margin-top:200px;margin-left: 192px;width:160px;border: 1px #ffffff solid;padding-top: 20px;">
              <li id="user_mes">
                  <a href="user_mes">
                      <span class="glyphicon glyphicon-cog"></span>
                      个人信息
                  </a>
              </li>
              <li id="program_manage">
                  <a href="program_manage">
                      <span class="glyphicon glyphicon-wrench"></span>
                      项目管理
                  </a>
              </li>
              <li id="goods_manage">
                  <a href="goods_manage">
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                      商品管理
                  </a>
              </li>
              <li id="advertisement_manage">
                  <a href="advertisement_manage">
                      <span class="glyphicon glyphicon-bullhorn"></span>
                      广告管理
                  </a>
              </li>
              <li id="push_message">
                  <a href="push_message">
                      <span class="glyphicon glyphicon-comment"></span>
                      消息推送
                  </a>
              </li>
              <li id="coupon_manage">
                  <a href="coupon_manage">
                      <span class="glyphicon glyphicon-euro"></span>
                      维修基金管理
                  </a>
              </li>
              <li id="game_manage">
                  <a href="game_manage">
                      <span class="glyphicon glyphicon-phone"></span>
                      游戏管理
                  </a>
              </li>
              <li id="vip_manage">
                  <a href="vip_manage">
                      <span class="glyphicon glyphicon-user"></span>
                      会员管理
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <a href="login_in">
              <span class="glyphicon glyphicon-off" style="margin-right: 3%"></span>
              退出登录
          </a>
      </li>
</ul>
<script>
    $('#message_manage').mouseover(function(){
        $('#programs').removeClass('hide');
        $('#message_manage').addClass('message_active')
    });
    $('#message_manage').mouseleave(function(){
        $('#programs').addClass('hide');
        $('#message_manage').removeClass('message_active')
    });
</script>
<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;background-color: #3498db;border-radius: 0">
  <div class="navbar-header" style="margin-left: 50%">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <p id="page_title" class="navbar-brand" style="padding-bottom: 0;margin-bottom: 0;color: #ffffff"></p>
  </div>
</nav><!-- /navbar -->
<div class="col-md-10 col-lg-10" style="padding-top:1%;float: right;">
    {% block define %}
    {% endblock %}
</div>
<script>
    function music_play(){
        var music = document.getElementById("music");
        music.play();
    }
    $('button').click(function(){
        var music = document.getElementById("music");
        music.pause();
    });
    $(document).ready(function(){
          if(localStorage['music'] == '1'){
              music_play();
              var m_count = parseInt(localStorage['music']);
              m_count++;
              localStorage['music'] = m_count;
          }
          $.ajax({
                        type: 'GET',
                        url: 'get_new_appointment_count',
                        data: '',
                        success: function(data){
                            if(data['new_appointment'] != '0'){
                                $('#appoint_new_count').text(data['new_appointment'])
                            }
                            else{
                                $('#appoint_new_count').text('')
                            }
                            if(data['notice_id'] != 'F'){
                                $('#notice_is').removeClass('hidden')
                            }
                            if(data['n_area']){
                                $('#n_area').text('当前地区：'+data['n_area'])
                            }
{#                            if(localStorage['music'] == '1'){#}
{#                                var music = document.getElementById("music");#}
{#                                music.play();#}
{#                                var m_count = parseInt(localStorage['music']);#}
{#                                m_count++;#}
{#                                localStorage['music'] = m_count;#}
{#                            }#}
                        },
                        dataType: 'json'
                    });
          function fresh_count(){
                    $.ajax({
                        type: 'GET',
                        url: 'get_new_appointment',
                        data: '',
                        success: function(data){
                            if(data == 'T'){
                                localStorage['music'] = 2;
                                music_play();
                                if(/operate_new$/.test(window.location.href)){
                                    localStorage['music'] = 1;
                                    window.location.href = 'operate_new'
                                }
                            }
                        },
                        dataType: 'json'
                    });
                    $.ajax({
                        type: 'GET',
                        url: 'get_new_appointment_count',
                        data: '',
                        success: function(data){
                            if(data['new_appointment'] != '0'){
                                $('#appoint_new_count').text(data['new_appointment'])
                            }
                            else{
                                $('#appoint_new_count').text('')
                            }
                            if(data['notice_id'] != 'F'){
                                $('#notice_is').removeClass('hidden')
                            }
                        },
                        dataType: 'json'
                    });
                }
          var countdown = setInterval(fresh_count, 5000);
       })
</script>
</body>
</html>
