{% extends 'admin_area/base.html' %}
{% block define %}
  {% if count > 0 %}
<div class="col-md-12 col-lg-12" style="padding-right: 10%;padding-left: 10%">
  共有{{ count }}个未受理订单

  <button class="btn btn-large btn-default" style="float: right;margin-right: 3%" onclick="cancel_appointment_all_n()">
   一键取消所有订单
  </button>
  <button class="btn btn-large btn-primary" style="float: right;margin-right: 3%" onclick="get_all_appointment()">
   一键受理所有订单
  </button>
</div>
   {% else %}
<div class="col-md-12 col-lg-12" style="padding-right: 10%;padding-left: 10%">
   <h6 style="margin-left: 38%">暂时没有订单</h6>
</div>
   {% endif %}

<div class="col-md-10 col-lg-10" style="float: right;margin-top: 2%;margin-right: 10%">
{% for item in items %}
   <div class="panel panel-primary">
       <div class="panel-heading">
           订单号：{{ item.appointment_id }}
           <span style="margin-left: 5%">联系方式：{{ item.consumer }}</span>
           <span style="margin-left: 5%">地址：{{ item.address }}</span>
       </div>
       <div class="panel-body">
           <div class="col-md-12 col-lg-12">姓名：{{ item.name }}</div>
           <div class="col-md-12 col-lg-12">时间：{{ item.appoint_time|date:"Y-m-d H:i:s" }}</div>
           <div class="col-md-12 col-lg-12">报修项目：{{ item.content }}
               {% if item.photo1 %}
                   <strong style="color: #27ad60">(有照片)</strong>
               {% endif %}
           </div>
           <div class="col-md-6 col-lg-6">
               {% if item.remark %}
               备注：{{ item.remark }}
               {% else %}
               备注：无
               {% endif %}
           </div>
           <div class="col-md-6 col-lg-6">
               <button class="btn btn-large btn-default" style="float: right;margin-right: 3%" onclick="cancel_appointment_n('{{ item.id }}')">
                 取消订单
               </button>
               <button class="btn btn-large btn-info" style="float: right;margin-right: 3%" onclick="get_appointment('{{ item.id }}')">
                 接受订单
               </button>
               {% if item.photo1 or item.photo2 or item.photo3 or item.photo4 %}
                   <button class="btn btn-large btn-success" id="find_detail{{ item.id }}" style="float: right;margin-right: 3%">
                 查看照片
               </button>
               <div class="modal fade bs-example-modal-lg" style="padding-top: 5%;padding-left: 10%" id="modal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-lg">
                       <div class="modal-content text-center" style="padding: 2%">
                           {% if item.photo1 %}
                           <img src="{{ item.photo1 }}" style="max-width: 850px">
                           <br/>
                           {% endif %}
                           {% if item.photo2 %}
                           <img style="margin-top: 2%;max-width: 850px" src="{{ item.photo2 }}">
                           <br/>
                           {% endif %}
                           {% if item.photo3 %}
                           <img style="margin-top: 2%;max-width: 850px" src="{{ item.photo3 }}">
                           <br/>
                           {% endif %}
                           {% if item.photo4 %}
                           <img style="margin-top: 2%;max-width: 850px" src="{{ item.photo4 }}">
                           <br/>
                           {% endif %}
                       </div>
                   </div>
               </div>
               <script>
               $('#find_detail{{ item.id }}').click(function(){
                   $('#modal{{ item.id }}').modal('toggle')
               })
           </script>
               {% endif %}
           </div>
       </div>
   </div>
{% endfor %}
{% if items.has_previous or items.has_next %}
  <div class="text-right" style="margin-right: 4%">
      <div class="pagination pagination-success">
          <ul>
              {% if items.has_previous %}
            <li><a class="btn btn-info previous" href="?page={{ items.previous_page_number }}">上一页</a></li>
             {% endif %}
             {% for page in items.paginator.page_range %}
               {% if page = items.number %}
            <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
             <li><a class="btn btn-info next" href="?page={{ items.next_page_number }}">下一页</a></li>

            {% endif %}
          </ul>
      </div>
{% endif %}
  </div>
</div>
    <script>
       $(document).ready(function(){
           $('#page_title').text('未受理订单');
           $('#new').addClass("active");
       })
    </script>
{% endblock %}
