{% extends 'admin_area/base.html' %}
{% block define %}
    <script>
        $('#page_title').text('{{ item_p.item_name }}')
    </script>
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-4 col-md-4 text-right">
            <h6>项目名称:</h6>
            <h6 style="margin-top: 9%">排序id:</h6>
            <h6 style="margin-top: 9%">价格:</h6>
            <h6 style="margin-top: 9%">说明:</h6>
        </div>
       <div class="col-lg-6 col-md-6" style="padding-top: 0.5%;padding-left: 0">
            <input type="text" class="form-control" id="item_name" name='item_name'
                   placeholder="请输入项目名称" style="width: 300px;margin-top: 0.5%" value="{{ item.title }}">
            <input type="text" class="form-control" id="sort_id" name='sort_id'
                   placeholder="请输入排序id" style="width: 300px;margin-top: 2.5%" value="{{ item.sort_id }}"
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="price" name='price'
                   placeholder="请输入价格" style="width: 300px;margin-top: 2.5%" value="{{ item.price }}">
            <textarea class="form-control" rows="5" id="content" name='content'
                   placeholder="请输入项目说明" style="width: 300px;margin-top: 2.5%">{{ item.content }}</textarea>
       </div>
    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg" style="margin-left: 36%">提交</button>
        <a href="program_manage_two?item_p_id={{ item_p.id }}" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        $('#submit').click(function(){
            if($('#item_name').val() && $('#price').val() && $('#content').val() && $('#sort_id').val()){
                {% if not item %}
                var message = {'item_name': $('#item_name').val(),
                               'price': $('#price').val(),
                               'content': $('#content').val(),
                               'item_p_id': {{ item_p.id }},
                               'sort_id': $('#sort_id').val(),
                               'csrfmiddlewaretoken': getCookie('csrftoken')};
                {% else %}
                 var message = {'item_name': $('#item_name').val(),
                               'price': $('#price').val(),
                               'content': $('#content').val(),
                               'item_p_id': {{ item_p.id }},
                               'item_id': {{ item.id }},
                               'sort_id': $('#sort_id').val(),
                               'csrfmiddlewaretoken': getCookie('csrftoken')};
                {% endif %}
                $.ajax({
                    type: 'POST',
                    url: 'edit_program_detail',
                    data: message,
                    success: function (data) {
                        if (data == 'T') {
                            alert("提交成功");
                            window.location.href = ""
                        }
                        else {
                            alert("提交失败！")
                        }
                    },
                    dataType: 'json'
                });
            }
            else{
                alert("请完善信息！！")
            }
        })
    </script>
 </div>
</div>
{% endblock %}
