{% extends 'admin_area/base.html' %}
{% block define %}
    <script xmlns="http://www.w3.org/1999/html">
        $('#page_title').text('项目管理');
        $('#message_manage').addClass('active');
        $('#program_manage').addClass('active')
    </script>
<div class="col-lg-12 col-md-12">
  <table style="margin-bottom: 5%">
    <thead>
     <h6 style="border-bottom: 3px #1abc9c solid;padding-bottom: 1%">
         维修
     </h6>
    </thead>
    <tbody>
    {% for item in programs %}
        {% if item.type == 1 %}
      <a role="button" href="program_manage_two?item_p_id={{ item.id }}" class="btn btn-lg btn-primary" style="margin-top: 1.5%;margin-right: 2%">
          {{ item.item_name }}
          <span style="color: #2e3c50">(ID:{{ item.id }})</span>
      </a>
        {% endif %}
    {% endfor %}
      <a role="button" href="edit_program_p_detail?type=1" class="btn btn-lg btn-success" style="margin-top: 1.5%;margin-right: 2%">+</a>
{#      <button class="btn btn-hg btn-success" style="margin-right: 2%">+</button>#}
    </tbody>
  </table>
  <table style="margin-bottom: 5%">
    <thead>
     <h6 style="border-bottom: 3px #1abc9c solid;padding-bottom: 1%">
         安装
     </h6>
    </thead>
    <tbody>
    {% for item in programs %}
        {% if item.type == 2 %}
      <a role="button" href="program_manage_two?item_p_id={{ item.id }}" class="btn btn-lg btn-primary" style="margin-top: 1.5%;margin-right: 2%">
          {{ item.item_name }}
          <span style="color: #2e3c50">(ID:{{ item.id }})</span>
      </a>
        {% endif %}
    {% endfor %}
      <a role="button" href="edit_program_p_detail?type=2" class="btn btn-lg btn-success" style="margin-top: 1.5%;margin-right: 2%">+</a>
{#      <button class="btn btn-hg btn-success" style="margin-right: 2%">+</button>#}
    </tbody>
  </table>
  </table>
  <table style="margin-bottom: 5%">
    <thead>
     <h6 style="border-bottom: 3px #1abc9c solid;padding-bottom: 1%">
         更多服务
     </h6>
    </thead>
    <tbody>
    {% for item in programs %}
        {% if item.type == 3 %}
      <a role="button" href="program_manage_two?item_p_id={{ item.id }}" class="btn btn-lg btn-primary" style="margin-top: 1.5%;margin-right: 2%">
          {{ item.item_name }}
          <span style="color: #2e3c50">(ID:{{ item.id }})</span>
      </a>
        {% endif %}
    {% endfor %}
      <a role="button" href="edit_program_p_detail?type=3" class="btn btn-lg btn-success" style="margin-top: 1.5%;margin-right: 2%">+</a>
{#      <button class="btn btn-hg btn-success" style="margin-right: 2%">+</button>#}
    </tbody>
  </table>
</div>
{% endblock %}
