{% extends 'admin_area/base.html' %}
{% block define %}
    <script>
    $('#page_title').text('编辑商品');
    $('#message_manage').addClass('active');
    $('#goods_manage').addClass('active')
    </script>
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-4 col-md-4 text-right">
            <h6>商品名称:</h6>
            <h6 style="margin-top: 30px">排序ID:</h6>
            <h6 style="margin-top: 30px">推荐权重(可选):</h6>
            <h6 style="margin-top: 30px">品牌:</h6>
            <h6 style="margin-top: 30px">材质:</h6>
            <h6 style="margin-top: 30px">原价:</h6>
            <h6 style="margin-top: 30px">折扣价（可选）:</h6>
            <h6 style="margin-top: 30px">安装费（可选）:</h6>
            <h6 style="margin-top: 30px">制造商:</h6>
            <h6 style="margin-top: 30px">商品产地:</h6>
            <h6 style="margin-top: 30px">说明:</h6>
            <h6 style="margin-top: 140px">附加属性（可选）:</h6>
            <h6 style="margin-top: 150px">商品图片:</h6>
        </div>
       <div class="col-lg-6 col-md-6" style="padding-top: 0.5%;padding-left: 0">
          <form action="edit_goods" method="post" id="p_mes" enctype="multipart/form-data">
              {% csrf_token %}
              {% if goods.id %}
            <input style="display: none" type="text" name="goods_id" value="{{ goods.id }}">
              {% endif %}
            <input style="display: none" type="text" name="goods_o_id" value="{{ goods_o.id }}">
            <input type="text" class="form-control" id="item_name" name='item_name'
                   placeholder="请输入分类名称" style="width: 300px;margin-top: 2px" value="{{ goods.title }}">
            <input type="text" class="form-control" id="sort_id" name='sort_id'
                   placeholder="请输入排序ID" style="width: 300px;margin-top: 15px" value="{{ goods.sort_id }}"
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="recommand" name='recommand'
                   placeholder="请输入推荐权重" style="width: 300px;margin-top: 13px" value="{{ goods.recommand }}"
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="text" class="form-control" id="brand" name='brand'
                   placeholder="请输入商品品牌" style="width: 300px;margin-top: 15px" value="{{ goods.brand }}">
            <input type="text" class="form-control" id="material" name='material'
                   placeholder="请输入商品材质" style="width: 300px;margin-top: 14px" value="{{ goods.material }}">
            <input type="text" class="form-control" id="origin_price" name='origin_price'
                   placeholder="请输入商品原价" style="width: 300px;margin-top: 14px" value="{{ goods.origin_price }}"
                    onkeyup="onlyNumber(this)" onblur="onlyNumber(this)">
            <input type="text" class="form-control" id="preferential_price" name='preferential_price'
                   placeholder="请输入商品折扣价" style="width: 300px;margin-top: 14px" value="{{ preferential_price }}"
                    onkeyup="onlyNumber(this)" onblur="onlyNumber(this)" >
            <input type="text" class="form-control" id="repair_price" name='repair_price'
                   placeholder="请输入商品安装费" style="width: 300px;margin-top: 14px" value="{{ goods.repair_price }}"
                    onkeyup="onlyNumber(this)" onblur="onlyNumber(this)" >
            <input type="text" class="form-control" id="made_by" name='made_by'
                   placeholder="请输入制造商" style="width: 300px;margin-top: 14px" value="{{ goods.made_by }}">
            <input type="text" class="form-control" id="made_in" name='made_in'
                   placeholder="请输入产地" style="width: 300px;margin-top: 14px" value="{{ goods.made_in }}">
            <textarea class="form-control" id="content" name='content'
                   placeholder="请输入附加说明" style="width: 300px;height:150px;margin-top: 17px">{{ goods.content }}</textarea>
            <textarea class="form-control" id="plus" name='plus'
                   placeholder="请输入附加属性,属性间用分号隔开，如“阀芯：金属；排量：200ml”" style="width: 300px;height:150px;margin-top: 17px">{{ goods.plus }}</textarea>
            <input type="file" name="goods_pic" id="file0" multiple="multiple" style="margin-top:30px;line-height: 1;font-size: 16px;"/><br>
            <p>请上传400*200的PNG图片</p>
              {% if goods %}
                  <img style="width: 500px;height: 200px;" src="{{ goods.picture }}" id="img0" >
              {% else %}
                 <img style="width: 500px;height: 200px;" src="" id="img0" >
                 <script>
                  $(document).ready(function(){
                      $('#submit').addClass('disabled');
                  })
                  </script>
              {% endif %}
            <p style="color: red" id="warning"></p>
          </form>
       </div>

    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg" style="margin-left: 36%">提交</button>
        <a href="goods_manage?goods_p={{ goods_o.parent_item.id }}&goods_o={{ goods_o.id }}" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        {% if sort_id_have %}
        $(document).ready(function(){
              alert("排序id已存在，请重新填写！")
        });
        {% endif %}
        $("#file0").change(function(){
    var file0 = this.files[0];
	var objUrl = getObjectURL(file0);
	console.log("objUrl = "+objUrl) ;
	if (objUrl) {
		$("#img0").attr("src", objUrl);
        $('#img0').load(function(){
            var image = new Image();
            image.src = $('#img0').attr('src');
            var height = image.height;
            var width = image.width;
            var f = $('#img0').val();
            if(!/(png|PNG)$/.test(file0.type)){
                $('#submit').addClass('disabled');
                $('#warning').text('图像格式不正确，请上传PNG图片');
                return false
            }
            if(height==200&&width==400){
                $('#submit').removeClass('disabled')
            }
            else{
                $('#submit').addClass('disabled');
                $('#warning').text('图片像素不正确，请使用400 x 200像素的图片')
            }
        })
	}
});
//建立一個可存取到該file的url
function getObjectURL(file) {
	var url = null ;
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
        $('#submit').click(function(){
            if($('#item_name').val()&&$('#sort_id').val()&&$('#brand').val()
            &&$('#material')&&$('#origin_price')&&$('#made_by')&&$('#made_in')
            &&$('#content')){
                $('#p_mes').submit();
            }
            else{
                alert("请完善信息！！")
            }
        });
    </script>
 </div>
</div>
{% endblock %}