{% extends 'admin_area/base.html' %}
{% block define %}
<script xmlns="http://www.w3.org/1999/html">
        $('#page_title').text('商品管理');
        $('#message_manage').addClass('active');
        $('#goods_manage').addClass('active')
</script>
<div class="col-md-12 col-lg-12">
    <table class="table">
           <thead>
             <tr>
                 <ol class="breadcrumb">
                     <li><a href="goods_manage">商品分类</a></li>
                     <li><a href="goods_manage?goods_p={{ goods_p.id }}">{{ goods_p.item_name }}</a></li>
                     <li class="active">{{ goods_o.item_name }}</li>
                 </ol>
                 <script>
                     $('#delete_p').click(function(){
                         var r = confirm("您确定要删除该分类并且同时删除所有子项目？");
                         if (r){
                             window.location.href = "delete_program_p?item_id={{ item_p.id }}"
                         }
                     })
                 </script>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #1abc9c; color: #ffffff">
                  <th>排序ID</th>
                  <th>商品ID</th>
                  <th>推荐权重</th>
                  <th>商品名称</th>
                  <th>品牌</th>
                  <th style="max-width:100px">生厂商</th>
                  <th>产地</th>
                  <th>价格</th>
                  <th>安装费</th>
                  <th style="max-width: 150px">说明</th>
                  <th style="max-width: 100px">附加属性</th>
                  <th style="max-width: 80px;padding-right:0">操作
                  </th>
              </tr>
              {% for item in goods %}
              <tr>
                  <td>{{ item.sort_id }}</td>
                  <td>{{ item.id }}</td>
                  <td>{{ item.recommand }}</td>
                  <td>
                      {{ item.title }}
                  </td>
                  <td>{{ item.brand }}</td>
                  <td>{{ item.made_by }}</td>
                  <td>{{ item.made_in }}</td>
                  <td>
                      {% if item.origin_price == item.real_price %}
                      {{ item.real_price }}元
                      {% else %}
                      {{ item.real_price }}元
                      <br/>
                      (原价：{{ item.origin_price }}元)
                      {% endif %}
                  </td>
                  <td>{{ item.repair_price }}元</td>
                  <td style="max-width: 150px">{{ item.content }}</td>
                  <td style="max-width: 100px">{{ item.plus }}</td>
                  <td style="max-width: 80px;padding-right:0">
                     <a role="button" href="edit_goods?goods_id={{ item.id }}&goods_o_id={{ goods_o.id }}" class="btn btn-xs btn-default">修改</a>
                     <button class="btn btn-xs btn-danger" onclick="delete_goods('{{ item.id }}')">删除</button>
                  </td>
              </tr>
              {% endfor %}
           </tbody>
           <script>
               function delete_goods(item_id){
                   r = confirm("确定删除该项目?");
                   if(r == true){
                       window.location.href = "delete_goods?item_id=" + item_id;
                   }
               }
           </script>
  </table>
  <a role="button" href="edit_goods?goods_o_id={{ goods_o.id }}" class="btn btn-lg btn-primary" style="float: right;margin-right: 3%">添加商品</a>


</div>
{% endblock %}