{% extends 'admin_area/base.html' %}
{% block define %}
<script xmlns="http://www.w3.org/1999/html">
        $('#page_title').text('商品管理');
        $('#message_manage').addClass('active');
        $('#goods_manage').addClass('active')
</script>
<div class="col-md-12 col-lg-12">
    <table class="table">
           <thead>
             <tr>
                 <ol class="breadcrumb">
                     <li class="active">商品分类</li>
                 </ol>
             </tr>
           </thead>
           <tbody>
              <tr style="background-color: #1abc9c; color: #ffffff">
                  <th>排序ID</th>
                  <th>分类名称</th>
                  <th>有无广告</th>
                  <th style="max-width: 60px;padding-right:0">操作
                  </th>
              </tr>
              {% for item in goods_ps %}
              <tr>
                  <td>{{ item.sort_id }}</td>
                  <td>
                      <a href="?goods_p={{ item.id }}">{{ item.item_name }}（点击查看）</a>
                  </td>
                  {% if item.advertisement %}
                      <td style="color: #1abc9c">有</td>
                  {% else %}
                      <td style="color: red">无</td>
                  {% endif %}
                  <td style="max-width: 60px;padding-right:0">
                     <a role="button" href="edit_goods_p?item_id={{ item.id }}" class="btn btn-sm btn-default">修改</a>
                     <button class="btn btn-sm btn-danger" onclick="delete_goods_p({{ item.id }})">删除</button>
                  </td>
              </tr>
              {% endfor %}
           </tbody>
           <script>
               function delete_goods_p(item_p_id){
                   r = confirm("确定删除该分类?");
                   if(r == true){
                       window.location.href = "delete_goods?item_p_id="+item_p_id;
                   }
               }
           </script>
  </table>
  <a role="button" href="edit_goods_p" class="btn btn-lg btn-primary" style="float: right;margin-right: 3%">添加分类</a>

</div>
{% endblock %}