{% extends 'base.html' %}
{% block define %}
{% if fault %}
    <div class="alert alert-danger" role="alert" style="text-align: center;height: 50px;margin-top: 0">
     <strong>验证码错误</strong>
    </div>
{% endif %}
<div class="container" style="padding-right: 15%;padding-top: 5%">
    <div class="col-md-4 col-lg-4">
        <img src="/img/icons/png/Map.png">
    </div>
    <div class="col-md-8 col-lg-8 jumbotron" style="padding-left: 0;padding-right: 0">
      <div class="col-md-10 col-lg-10" style="padding-left: 18%">
          <form method="post" action="forget_password" id="form_mes">
              {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon" style="min-width: 85px">手机号</span>
            <input type="text" class="form-control" id="phone" name="phone"
                   placeholder="请输入手机号" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
{#                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>#}
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 85px">验证码</span>
            <input type="text" class="form-control" id="verify" name="verify" placeholder="请输入手机验证码" />
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 85px">新密码</span>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" />
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 85px">确认密码</span>
            <input type="password" class="form-control" id="password_again" name="password_again" placeholder="请再次输入密码" />
        </div>
           </form>
        <button class="btn btn-success btn-large btn-block" id="submit" style="margin-top: 5%">提交</button>
        <a role="button" class="btn btn-default btn-large btn-block" href="login_in" style="margin-top: 1%">返回</a>
      </div>
        <script>
            $('#submit').click(function(){
                if($('#phone').val().length == 11 && $('#verify').val()
                        && $('#password').val() && $('#password_again')){
                    if($('#password').val() == $('#password_again').val()){
                        $('#form_mes').submit()
                    }
                    else{
                        alert("两次密码输入不一致")
                    }
                }
                else{
                    alert("输入信息有误")
                }
            })
        </script>
      <div class="col-md-2 col-lg-2" style="margin-top: 9.5%;padding-left: 0">
         <button id="get_verify" class="btn btn-primary btn-sm">获取验证码</button>

      </div>
    </div>

</div>
<script>
  $(document).ready(function(){
      var count;
      var countdown;
      function verify_count(){
          $('#get_verify').addClass("disabled");
          $('#get_verify').text('请等待'+count+"秒");
          if(count <= 0){
              clearInterval(countdown);
              localStorage.removeItem('f_verify_count');
              $('#get_verify').removeClass("disabled");
              $('#get_verify').text("获取验证码");
          }
          count--;
      }
      if(localStorage['f_verify_count']){
          var now_time = parseInt(new Date().getTime());
          var past_time = parseInt(localStorage['f_verify_count']);
          count = parseInt(30-(now_time-past_time)/1000);
          if(count > 0){
               $('#get_verify').addClass("disabled");
               $('#get_verify').text('请等待'+count+"秒");
               countdown = setInterval(verify_count, 1000);
          }
      }
      $('#get_verify').click(function(){
          if($('#phone').val().length==11){
              $('#get_verify').addClass("disabled");
              count = 30;
              localStorage['f_verify_count'] = new Date().getTime();
              var message = {'phone': $('#phone').val(),
                             'csrfmiddlewaretoken': getCookie('csrftoken')};
              $.ajax({
                  url:'f_register_verify', //后台处理程序
                  type:'post',         //数据发送方式
                  dataType:'json',     //接受数据格式
                  data:message,        //要传递的数据
                  success:function(data){
                      if(data == "false"){
                          $("#get_verify").val("获取验证码").removeClass("disabled");
                          alert("不存在该用户")
                      }
                      else{
                          $('#get_verify').text('请等待'+count+"秒");
                          count--;
                          countdown = setInterval(verify_count, 1000);
                          }
                      }
              });

          }
          else{
               alert("请输入有效的电话号码！")
          }
      })
  })
</script>
{% endblock %}