{% extends 'base.html' %}
{% block define %}
{% if fault0 %}
    <div class="alert alert-danger" role="alert" style="text-align: center;height: 50px;margin-top: 0">
     <strong>用户已存在</strong>
    </div>
{% endif %}
{% if fault1 %}
    <div class="alert alert-danger" role="alert" style="text-align: center;height: 50px;margin-top: 0">
     <strong>验证码错误</strong>
    </div>
{% endif %}
<div class="container" style="padding-right: 15%;padding-top: 5%">
    <div class="col-md-4 col-lg-4">
        <img src="/img/icons/png/Mail.png">
    </div>
    <div class="col-md-8 col-lg-8 jumbotron" style="padding-left: 0;padding-right: 0">
      <div class="col-md-10 col-lg-10" style="padding-left: 18%">
        <form action="register" method="post" id="form_mes">
            {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon" style="min-width: 80px;height: 42px">手机号</span>
            <input type="text" class="form-control" name="phone" id="phone"
                   placeholder="请输入手机号" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
{#                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>#}
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 80px;height: 42px">验证码</span>
            <input type="text" class="form-control" name="verify" id="verify" placeholder="请输入手机验证码" />
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 80px;height: 42px">密码</span>
            <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码" />
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 80px;height: 42px">姓名</span>
            <input type="text" class="form-control" name="name" id="name" placeholder="请输入真实姓名" />
        </div>
        <div class="input-group" style="margin-top: 3%;">
            <span class="input-group-addon" style="min-width: 80px;height: 42px;">工号</span>
            <input type="text" class="form-control" name="work_num" id="work_num"
                   placeholder="请输入工作号" onkeyup="this.value=this.value.replace(/\D/g,'')"
                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
        </div>
        <div class="input-group" style="margin-top: 3%;">
          <span class="input-group-addon" style="min-width: 80px;">地区</span>
          <select id="area" name="area" class="form-control select select-primary select-block mbl" style="width: 100%">
              {% if areas %} }
                  {% for area in areas %}
              <option value="{{ area.area_name }}">{{ area.area_name }}</option>
                  {% endfor %}
              {% endif %}
          </select>
            <script>
                $("#area").select2({dropdownCssClass: 'dropdown-inverse'});
            </script>
        </div>
      </form>
        <button class="btn btn-success btn-large btn-block" id="register" style="margin-top: 5%">注册</button>
        <a role="button" class="btn btn-default btn-large btn-block" href="login_in" style="margin-top: 1%">返回</a>
      </div>
      <div class="col-md-2 col-lg-2" style="margin-top: 9.5%;padding-left: 0">
         <button id="get_verify" class="btn btn-primary btn-sm">获取验证码</button>
      </div>
    </div>

</div>
<script>
  $(document).ready(function(){
      $('#register_page').addClass('active');
      var count;
      var countdown;
      function verify_count(){
          $('#get_verify').addClass("disabled");
          $('#get_verify').text('请等待'+count+"秒");
          if(count <= 0){
              clearInterval(countdown);
              localStorage.removeItem('verify_count');
              $('#get_verify').removeClass("disabled");
              $('#get_verify').text("获取验证码");
          }
          count--;
      }
      if(localStorage['verify_count']){
          var now_time = parseInt(new Date().getTime());
          var past_time = parseInt(localStorage['verify_count']);
          count = parseInt(30-(now_time-past_time)/1000);
          if(count > 0){
               $('#get_verify').addClass("disabled");
               $('#get_verify').text('请等待'+count+"秒");
               countdown = setInterval(verify_count, 1000);
          }
      }
      $('#get_verify').click(function(){
          if($('#phone').val().length==11){
              $('#get_verify').addClass("disabled");
              count = 30;
              localStorage['verify_count'] = new Date().getTime();
              var message = {'phone': $('#phone').val(),
                             'csrfmiddlewaretoken': getCookie('csrftoken')};
              $.ajax({
                  url:'register_verify', //后台处理程序
                  type:'post',         //数据发送方式
                  dataType:'json',     //接受数据格式
                  data:message,        //要传递的数据
                  success:function(data){
                      if(data == "false"){
                          $("#get_verify").val("获取验证码").removeClass("disabled");
                          alert("手机已被注册")
                      }
                      else{
                          $('#get_verify').text('请等待'+count+"秒");
                          count--;
                          countdown = setInterval(verify_count, 1000);
                          }
                      }
              });

          }
          else{
               alert("请输入有效的电话号码！")
          }
      })
  })
</script>
<script>
   $('#register').click(function(){
       if($('#phone').val().length == 11 && $('#verify').val() && $('#password').val()
               && $('#name').val() && $('#work_num').val() && $('#area').val()){
           $('#form_mes').submit();
       }
       else{
           alert('输入信息有误！')
       }
   });
</script>
{% endblock %}