{% extends 'admin_area/base.html' %}
{% block define %}
<script>
        $('#page_title').text('游戏参数设置');
        $('#game_manage').addClass('active');
        $('#message_manage').addClass('active');
       {% if set_success %}
           $(document).ready(function(){
               alert("操作成功");
               window.location.href = "game_manage"
           });
       {% endif %}
</script>
<script type="text/javascript" src="/js/mine.js" charset="UTF-8"></script>
       {% if permission %}
<div class="col-lg-12 col-md-12 panel panel-default" style="margin-top: 5%;padding-left: 7%">
 <div class="panel-body">
       <div class="col-lg-5 col-md-5 text-right">
            <h6>维修基金金额（最高）:</h6>
            <h6 style="margin-top: 6%">维修基金金额（最低）:</h6>
            <h6 style="margin-top: 6%">赠送数量:</h6>
            <h6 style="margin-top: 6%">开始时间:</h6>
            <h6 style="margin-top: 6%">结束时间:</h6>
            <h6 style="margin-top: 6%">游戏状态:</h6>
        </div>
       <div class="col-lg-5 col-md-5" style="padding-top: 0.5%;padding-left: 0">
          <form action="set_game" method="post" id="p_mes" enctype="multipart/form-data">
              {% csrf_token %}
            {% if item %}
                <input type="text" name="control_id" value="{{ item.id }}" style="display: none"/>
            {% endif %}
            <input type="text" class="form-control" id="money_high" name='money_high'
                   placeholder="请输入金额" style="width: 150px;margin-top: 0.5%" onchange="finish_form()"
                   {% if item.game_money_high %}
                   value="{{ item.game_money_high }}"
                   {% endif %}
                    onkeyup="onlyNumber(this)" onblur="onlyNumber(this)">
            <input type="text" class="form-control" id="money_low" name='money_low'
                   placeholder="请输入金额" style="width: 150px;margin-top: 3%" onchange="finish_form()"
                   {% if item.game_money_low %}
                   value="{{ item.game_money_low }}"
                   {% endif %}
                    onkeyup="onlyNumber(this)" onblur="onlyNumber(this)">
            <input type="text" class="form-control" id="origin_coupon_num" name='origin_coupon_num'
                   placeholder="请输入赠送数量" style="width: 150px;margin-top: 3%" onchange="finish_form()"
                   {% if item.game_coupon_num %}
                   value="{{ item.game_coupon_num }}"
                   {% endif %}
                    onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input id="start_date" name="start_date" type="text" class="form-control" style="margin-top: 3%;width: 150px;color: #1abc9c;"
                onclick="fPopCalendar(event,this,this)" onfocus="this.select()" readonly="readonly" onchange="finish_form()"
                   {% if item.game_start_time %}
                value="{{ item.game_start_time|date:'Y-m-d' }}"
                    {% endif %}
                       />
            <input id="end_date" name="end_date" type="text" class="form-control" style="margin-top: 3%;width: 150px;color: #1abc9c"
                onclick="fPopCalendar(event,this,this)" onfocus="this.select()" readonly="readonly" onchange="finish_form()"
                   {% if item.game_end_time %}
                value="{{ item.game_end_time|date:'Y-m-d' }}"
                    {% endif %}
                       />
            <h6 style="margin-top: 3.8%">
                {% if item.game_active %}
                    <span style="color: #1abc9c">开启</span>
                    <a role="button" href="set_game?close_game=True&control_id={{ item.id }}" class="btn btn-danger btn-sm" style="margin-left: 5%">结束活动</a>
                {% else %}
                    <span style="color: red;">关闭(信息提交后开启)</span>
                {% endif %}
            </h6>
          </form>
       </div>

    <div class="col-lg-12 col-md-12" style="margin-top: 2%">
        <button id="submit" class="btn btn-success btn-lg disabled" style="margin-left: 36%">提交</button>
        <a href="game_manage" role="button" class="btn btn-default btn-lg" style="margin-left: 5%">取消</a>
    </div>
    <script>
        $(document).ready(function(){
            if($('#money_high').val() && $('#money_low').val() && $('#origin_coupon_num').val()
            && $('#start_date').val() && $('#end_date').val()){
                $('#submit').removeClass('disabled');
            }
        });
        function finish_form(){
            if($('#money_high').val() && $('#money_low').val() && $('#origin_coupon_num').val()
            && $('#start_date').val() && $('#end_date').val()){
                $('#submit').removeClass('disabled');
            }
            else{
                $('#submit').addClass('disabled');
            }
        }
        $('#submit').click(function(){
            if($('#money_high').val() >= $('#money_low').val() && $('#start_date').val()
            <= $('#end_date').val()){
                $('#p_mes').submit()
            }
            else{
                alert('最高金额小于最小金额，或者开始日期大于结束日期，请重新填写！')
            }
        })
    </script>
 </div>
</div>
    {% else %}
       <div class="col-md-12 col-lg-12" style="padding-right: 10%;padding-left: 10%">
        <h5 style="margin-left: 35%;color: red">您没有操作权限</h5>
      </div>
    {% endif %}
{% endblock %}